.entry-header {
  height: var(--page-header-height);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 40px;

  .entry-title-wrapper {
    z-index: 2;
    position: absolute;
    bottom: 10%;
    left: 5%;

    @media screen and (min-width: $laptop) {
      left: 10%;
    }
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: black;
    z-index: 1;
  }

  &.page-header {
    .entry-title {
      color: white;
    }
  }

  @import "breadcrumbs";
}
